<?xml version="1.0" encoding="utf-8"?>
<robot name="encos130" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== Pelvis (Base) ==================== -->
  <link name="pelvis">
    <inertial>
      <origin xyz="-0.00005706 0.00001218 0.00272097" rpy="0 0 0" />
      <mass value="2.85330418" />
      <inertia ixx="0.00570553" ixy="0" ixz="0" iyy="0.00314572" iyz="0" izz="0.00534237" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/pelvis.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>

  <!-- ==================== Left Leg ==================== -->

  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="-0.00154712 0.04555177 -0.01331714" rpy="0 0 0" />
      <mass value="1.45048593" />
      <inertia ixx="0.00161821" ixy="0.00001764" ixz="-0.00001329" iyy="0.00124154" iyz="0.00010556" izz="0.00139147" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.0719 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.7925268" upper="2.7925268" effort="150" velocity="27.75" />
  </joint>

  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.01766029 0 -0.03832869" rpy="0 0 0" />
      <mass value="0.32712694" />
      <inertia ixx="0.00045382" ixy="0" ixz="-0.00013789" iyy="0.00050820" iyz="0" izz="0.00032411" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0 0.0502 -0.015" rpy="0 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5235988" upper="2.9670597" effort="150" velocity="27.75" />
  </joint>

  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="0.00102498 -0.00744857 -0.14299393" rpy="0 0 0" />
      <mass value="2.93111837" />
      <inertia ixx="0.03367085" ixy="-0.00003211" ixz="0.00002760" iyy="0.03377365" iyz="-0.00252391" izz="0.00284646" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.0669" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7925268" upper="2.7925268" effort="150" velocity="27.75" />
  </joint>

  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.01590759 0.00298135 -0.11310658" rpy="0 0 0" />
      <mass value="1.46833842" />
      <inertia ixx="0.00596778" ixy="0.00005219" ixz="0.00007063" iyy="0.00602055" iyz="-0.00042021" izz="0.00080428" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_knee_joint" type="revolute">
    <origin xyz="0 0 -0.2531" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.0872665" upper="2.6179939" effort="150" velocity="27.75" />
  </joint>

  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0.00013764 0.00000000 -0.00772773" rpy="0 0 0" />
      <mass value="0.02587791" />
      <inertia ixx="0.00000233" ixy="0" ixz="0" iyy="0.00000235" iyz="0" izz="0.00000103" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0 0 -0.3" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8726646" upper="0.5235988" effort="80" velocity="27.25" />
  </joint>

  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.03096153 0.00000000 -0.01975503" rpy="0 0 0" />
      <mass value="0.40417462" />
      <inertia ixx="0.00015270" ixy="0.00000000" ixz="-0.00006003" iyy="0.00116292" iyz="0.00000000" izz="0.00123435" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.015" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2617994" upper="0.2617994" effort="38" velocity="57.37" />
  </joint>

  <!-- ==================== Right Leg ==================== -->

  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="-0.00154712 -0.04555177 -0.01331714" rpy="0 0 0" />
      <mass value="1.45048593" />
      <inertia ixx="0.00161821" ixy="-0.00001764" ixz="-0.00001329" iyy="0.00124154" iyz="-0.00010556" izz="0.00139147" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.0719 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.7925268" upper="2.7925268" effort="150" velocity="27.75" />
  </joint>

  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.01766029 0 -0.03832869" rpy="0 0 0" />
      <mass value="0.32712694" />
      <inertia ixx="0.00045382" ixy="0" ixz="-0.00013789" iyy="0.00050820" iyz="0" izz="0.00032411" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0 -0.0502 -0.015" rpy="0 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.9670597" upper="0.5235988" effort="150" velocity="27.75" />
  </joint>

  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="0.00102498 0.00744857 -0.14299393" rpy="0 0 0" />
      <mass value="2.93111837" />
      <inertia ixx="0.03367085" ixy="0.00003211" ixz="0.00002760" iyy="0.03377365" iyz="0.00252391" izz="0.00284646" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.0669" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7925268" upper="2.7925268" effort="150" velocity="27.75" />
  </joint>

  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.01590759 -0.00298135 -0.11310658" rpy="0 0 0" />
      <mass value="1.46833842" />
      <inertia ixx="0.00596778" ixy="-0.00005219" ixz="0.00007063" iyy="0.00602055" iyz="0.00042021" izz="0.00080428" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_knee_joint" type="revolute">
    <origin xyz="0 0 -0.2531" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.0872665" upper="2.6179939" effort="150" velocity="27.75" />
  </joint>

  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0.00013764 0.00000000 -0.00772773" rpy="0 0 0" />
      <mass value="0.02587791" />
      <inertia ixx="0.00000233" ixy="0" ixz="0" iyy="0.00000235" iyz="0" izz="0.00000103" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0 0 -0.3" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8726646" upper="0.5235988" effort="80" velocity="27.25" />
  </joint>

  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.03096153 0.00000000 -0.01975503" rpy="0 0 0" />
      <mass value="0.40417462" />
      <inertia ixx="0.00015270" ixy="0.00000000" ixz="-0.00006003" iyy="0.00116292" iyz="0.00000000" izz="0.00123435" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.015" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2617994" upper="0.2617994" effort="38" velocity="57.37" />
  </joint>

  <!-- ==================== Waist / Torso ==================== -->

  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.00061769 0 0.03975727" rpy="0 0 0" />
      <mass value="1.40522272" />
      <inertia ixx="0.00119484" ixy="0" ixz="0.00003477" iyy="0.00122288" iyz="0" izz="0.00135052" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0.0607" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0071286" upper="3.577925" effort="150" velocity="27.75" />
  </joint>

  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03850117" />
      <inertia ixx="0.00000196" ixy="0" ixz="0" iyy="0.00000212" iyz="0" izz="0.00000312" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0.0918" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5235988" upper="0.5235988" effort="140" velocity="12.22" />
  </joint>

  <link name="torso_link">
    <inertial>
      <origin xyz="-0.00018517 0 0.13773252" rpy="0 0 0" />
      <mass value="6.63015191" />
      <inertia ixx="0.06384025" ixy="0" ixz="0.00123726" iyy="0.04200395" iyz="0" izz="0.03994188" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/torso_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/torso_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="torso_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5235988" upper="0.5235988" effort="112.5" velocity="15.21" />
  </joint>

  <!-- ==================== Left Arm ==================== -->

  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.00766857 0.03242941 -0.01110023" rpy="0 0 0" />
      <mass value="0.58842994" />
      <inertia ixx="0.00030337" ixy="0.00001494" ixz="-0.00000706" iyy="0.00030108" iyz="0.00002147" izz="0.00033306" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 0.14421 0.24201" rpy="0.2618 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.577925" upper="2.0071286" effort="30" velocity="36.34" />
  </joint>

  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00892871 0 -0.03546029" rpy="0 0 0" />
      <mass value="0.10362785" />
      <inertia ixx="0.00005808" ixy="0" ixz="-0.00001871" iyy="0.00006692" iyz="0" izz="0.00005070" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0 0.0353 -0.0121" rpy="-0.2618 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.1745329" upper="3.577925" effort="30" velocity="36.34" />
  </joint>

  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="-0.00030857 -0.00376201 -0.08149163" rpy="0 0 0" />
      <mass value="1.18840184" />
      <inertia ixx="0.00321407" ixy="0.00000487" ixz="-0.00000458" iyy="0.00317619" iyz="-0.00023038" izz="0.00059914" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.0001 0 -0.0492" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7925268" upper="2.7925268" effort="30" velocity="36.34" />
  </joint>

  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.03546029 0.00892871 0" rpy="0 0 0" />
      <mass value="0.10362785" />
      <inertia ixx="0.00005070" ixy="0.00001871" ixz="0" iyy="0.00005808" iyz="0" izz="0.00006692" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0 0 -0.1308" rpy="0 1.5708 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.1816652" upper="0.5235951" effort="30" velocity="36.34" />
  </joint>

  <!-- ==================== Right Arm ==================== -->

  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.00766857 -0.03242941 -0.01110023" rpy="0 0 0" />
      <mass value="0.58842994" />
      <inertia ixx="0.00030337" ixy="-0.00001494" ixz="-0.00000706" iyy="0.00030108" iyz="-0.00002147" izz="0.00033306" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 -0.14421 0.24201" rpy="-0.2618 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.577925" upper="2.0071286" effort="30" velocity="36.34" />
  </joint>

  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00892871 0 -0.03546029" rpy="0 0 0" />
      <mass value="0.10362785" />
      <inertia ixx="0.00005808" ixy="0" ixz="-0.00001871" iyy="0.00006692" iyz="0" izz="0.00005070" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0 -0.0353 -0.0121" rpy="0.2618 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.577925" upper="0.1745329" effort="30" velocity="36.34" />
  </joint>

  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="-0.00030857 0.00376201 -0.08149163" rpy="0 0 0" />
      <mass value="1.18840184" />
      <inertia ixx="0.00321407" ixy="-0.00000487" ixz="-0.00000458" iyy="0.00317619" iyz="0.00023038" izz="0.00059914" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.0001 0 -0.0492" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7925268" upper="2.7925268" effort="30" velocity="36.34" />
  </joint>

  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.03546029 -0.00892871 0" rpy="0 0 0" />
      <mass value="0.10362785" />
      <inertia ixx="0.00005070" ixy="-0.00001871" ixz="0" iyy="0.00005808" iyz="0" izz="0.00006692" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0 0 -0.1308" rpy="0 1.5708 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.1816652" upper="0.5235951" effort="30" velocity="36.34" />
  </joint>

</robot>
